@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.feed-container {
  margin-top: 5px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 10px;
  height: auto;
  background-color: #eef2e6;
  border-radius: 20px;
}

.feed {
  font-family: "Lora", serif;
  margin: 25px 15px 10px;
  padding: 20px 25px;
  font-size: 18px;
  border: 2px solid #34626c;
  border-radius: 20px;
}

.feed h3 {
  font-size: 28px;
  padding-bottom: 10px;
}

.feed p {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
}

.feed span {
  font-weight: bold;
}
